.centered{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}
.card{
  flex: 0 1 calc(25% - 1em);
  border-radius: 12px 12px;
  margin: 5px;
  text-align: center;
}



.container{
  display: flex;
  height: 300px;
  grid-template-columns: max-content(4);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-around;
  
}
.cardddd{
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem;
  width: 20%;
  margin: auto;  
  
}




