
body{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
  }
  .formdiv{
    
    width: 30%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;

  }
  #registerform{
    margin-top: 150px;
  }
  #input{
    margin-bottom: 10px;
  }
#abovetext{
    color: slategray;
    text-align: left;
    
  }
.emailInput{
  padding-left: 15px;
}

.toolTitle{
  text-align: center;
  font-size: 70px;
}